/* * {
    color: pink;
}

h1 {
    color: green;
}

#heading1 {
    color: aqua;
}

#heading2 {
    color: brown;
}

#heading3 {
    color: darkviolet;
}

#box {
    background-color: blue;
}

.heading {
    color: red;
}

button {
    color:green;
} */
p {
    text-align: center;
    /* text-decoration: underline;
    text-decoration: none; */
}

h1 {
    font-weight: bolder;
}

#one {
    font-family: arial;
}
#two{
    font-family: segoe UI;
}