* {
    color: pink;
}

h1 {
    color: green;
}

#heading1 {
    color: aqua;
}

#heading2 {
    color: brown;
}

#heading3 {
    color: darkviolet;
}

#box {
    background-color: blue;
}

.heading {
    color: red;
}

button {
    color:green;
}