/* body {
    text-align: center;
}

div {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black
}

#container {
    width: 800px;
    height: 200px;
    display: flex; */
/* flex-direction: column */
/* flex-direction: column-reverse;
            flex-direction: column;
 */

/* flex-direction: row;
    justify-content: flex-start;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: pink;
}

#box3 {
    background-color: darkkhaki;
}

#box4 {
    background-color: indianred;
}

#box5 {
    background-color: slateblue;
} */
/* .navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    /* display: inline; */

/* justify-content: space-evenly; */
/* }

li {
    list-style-type: none;
    /* display: inline; */
/* background-color: aqua; */
/* } */

/* .outer {
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner {
    height: 100px;
    width: 100px;
    background-color: darkorchid;
} */

/* div {
    height: 50px;
    width: 50px;
    background-color: pink;
} */

/* @media(width:600px) {
    div {
        background-color: red;
    }
}

@media (min-width:600px) {
    div {
        background-color: green;
    }
} */

/* @media (min-width:300px) and (max-width:400px) {
    div {
        background-color: blue;
    }
} */

/* div {
    height: 50px;
    width: 50px;
    background-color: black;
}

@media (max-width:300px) {
    div {
        background-color: green;
    }
}

@media (min-width:300px) and (max-width:400px) {
    div {
        background-color: pink;
    }
}

@media (min-width:400px) and (max-width:600px) {
    div {
        background-color: red;
    }
}

@media (min-width:600px) {
    div {
        background-color: blue;
    }
} */
div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */
    transition:all 2s ease-in 3s;
}

div:hover {
    background-color: red;
}

div:active {
    background-color: blue;
}